parameters:
    level: 8
    paths:
        - src
        - app
        - tests
    excludePaths:
        - vendor
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    tmpDir: var/cache/phpstan
